@model PortfolioViewModel

@{
    ViewData["Title"] = "Create";
}
    <div style="margin:160px; padding:120px;">
        <h1>Create Projects</h1>

        <h4> </h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="ProjectName" class="control-label"></label>
                        <input asp-for="ProjectName" class="form-control" />
                        <span asp-validation-for="ProjectName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ImageUrl" class="control-label"></label>
                        <input type="file" asp-for="File" class="form-control" />
                        <span asp-validation-for="ImageUrl" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="vedioUrl" class="control-label"></label>
                        <input type="file" asp-for="vFile" class="form-control" />
                        <span asp-validation-for="vedioUrl" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Image2" class="control-label"></label>
                        <input type="file" asp-for="File2" class="form-control" />
                        <span asp-validation-for="Image2" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Image3" class="control-label"></label>
                        <input type="file" asp-for="File3" class="form-control" />
                        <span asp-validation-for="Image3" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Image4" class="control-label"></label>
                        <input type="file" asp-for="File4" class="form-control" />
                        <span asp-validation-for="Image4" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Image5" class="control-label"></label>
                        <input type="file" asp-for="File5" class="form-control" />
                        <span asp-validation-for="Image5" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Image6" class="control-label"></label>
                        <input type="file" asp-for="File6" class="form-control" />
                        <span asp-validation-for="Image6" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Image7" class="control-label"></label>
                        <input type="file" asp-for="File7" class="form-control" />
                        <span asp-validation-for="Image7" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Image8" class="control-label"></label>
                        <input type="file" asp-for="File8" class="form-control" />
                        <span asp-validation-for="Image8" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Image9" class="control-label"></label>
                        <input type="file" asp-for="File9" class="form-control" />
                        <span asp-validation-for="Image9" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Image10" class="control-label"></label>
                        <input type="file" asp-for="File10" class="form-control" />
                        <span asp-validation-for="Image10" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index" class="btn btn-outline-dark">Back to List</a>
        </div>
    </div>