
@{
    ViewData["Title"] = "Career";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="margin:300px;">Work With Us </h1>
<p style="margin:300px;">
    For every talented person who deserves to work with the best, we will be honored to receive your request for the following positions:
</p>



