<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>EHC</title>
	<link rel="shortcut icon" href="~/img/log.png" type="image/png">

    <!-- Custom fonts for this theme -->
    <link href="~/fonts/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link href="~/css/freelancer.css" rel="stylesheet">
	<script src="~/js/JavaScript.js"></script>
<script>
$(document).ready(function () {
$('.navbar div a').click(function(event){
        //remove all pre-existing active classes
        $('.active').removeClass('active');

        //add the active class to the link we clicked
        $(this).addClass('active');
    });
});
</script>
<style type="text/css">
      /* Set the size of the div element that contains the map */
      #map {
        height: 400px;
        /* The height is 400 pixels */
        width: 100%;
        /* The width is the width of the web page */
      }
    </style>
    <script>
      // Initialize and add the map
      function initMap() {
        // The location of Uluru
        const uluru = { lat: 24.778088765438735, lng: 46.783964360809755 };
        // The map, centered at Uluru
        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 4,
          center: uluru,
        });
        // The marker, positioned at Uluru
        const marker = new google.maps.Marker({
          position: uluru,
          map: map,
        });
      }
    </script>

</head>

<body id="page-top" class="">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="~/img/logo1.png" alt="EHC" width="90" height="35"></a>
            <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
				<li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#home"><span>Home</span></a>
                    </li>
					<li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about"><span>About</span></a>
                    </li>
					<li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio"><span>Services</span></a>
						
                    </li>
					<li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#projects"><span>Projects</span></a>
						
						
                    </li>
					
				
				
					
					<li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#clients"><span>Clients</span></a>
                    </li>
					<li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#partners"><span>Partners</span></a>
                    </li>
					
					<li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact"><span>Contact</span></a>
                    </li>
					<li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#search"><img src="~/img/search.png" alt="Search" width="50" height="25"  ></a>
                    </li>
               
                   
					
                </ul>
            </div>
        </div>
    </nav>

   <div>
       @RenderBody()
   </div>

    <!-- Footer -->
    <footer class="footer text-center" id="contact">
        <div class="container">
		<div class="f1">
            <div class="row">

                <!-- Footer Location -->
                <div class="col-lg-6 mb-5 mb-lg-0">
                     <h3></h3>
    <!--The div element for the map -->
    <div id="map"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAUo2RP2RSwHxQsNwv-TRyUz7TQVPHaX4Q&callback=initMap&libraries=&v=weekly"
      async
    ></script>
<br/>
<img src="~/img/foo1.png" alt="EHC" class="img-fluid img-thumbnail">

                </div>

                <!-- Footer Social Icons -->
               

                <!-- Footer About Text -->
                <div class="col-lg-6 ">
                    <h4 class="text-uppercase mb-4"></h4>
                    
					<div class="container wh">

            <!-- Contact Section Heading -->
           

            <!-- Icon Divider -->
          

            <!-- Contact Section Form -->
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                    <form name="sentMessage" id="contactForm" action="javascript:sendMail1();" novalidate="novalidate" method="post">
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Name</label>
                                <input class="form-control" id="name1" type="text" placeholder="Name" required="required" data-validation-required-message="Please enter your yourcompany name.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Email Address</label>
                                <input class="form-control" id="email1" type="email" placeholder="Email " required="required" data-validation-required-message="Please enter your email address.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Phone Number</label>
                                <input class="form-control" id="phone1" type="tel" placeholder="Mobile" required="required" data-validation-required-message="Please enter your phone number.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                <label>Message</label>
                                <input class="form-control" id="message1" rows="5" placeholder="Subject" required="required" data-validation-required-message="Please enter a message.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div><br>
						 <div class="control-group">
                            <div class="form-group floating-label-form-group controls mb-0 pb-5 btn-primary11">
                               
                            </div>
                        </div>
						
                        <br><br>
                        <div id="success"></div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary11 btn-xl" id="sendMessageButton">Submit</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
                </div>

            </div>
			</div>
			<br><br>
			<p class="text-left">Quick Links</p>
			<br>
			<p class="text-left"> &ensp;>>> &ensp;<a class="" href="#home">Home</a> &ensp;>>>&ensp; <a class="" href="#about">About</a> &ensp;>>>&ensp; <a class="" href="#portfolio">Services</a>&ensp; >>>&ensp; <a class="" href="#projects">Projects</a>&ensp; >>>&ensp; <a class="" href="#clients">Clients</a> &ensp;>>> &ensp; <a class="" href="#partners">Partners</a> &ensp;>>>&ensp; <a class="" href="#contact">Contact</a> &ensp;>>> &ensp; <a class="" href="#careers">Careers</a> &ensp;>>>&ensp; </p>
			<br><br>
			<p class="text-center">For More Information</p>
			<br>
				<p class="text-center"><a class="" href="~/img/EngHouse.pdf" download><img src="~/img/button.png" alt="EHC Profile" class="" width="150" height="35" ></a></p>
        </div>
    </footer>

    <!-- Copyright Section -->
    <section class="copyright py-4 text-center text-white">
        <div class="container">
            <small>Copyright &copy; ENGHOUS.COM 2021-2014. All rights reserved.</small>
        </div>
    </section>

    

   

   
  
   

    <!-- Bootstrap core JavaScript -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
	<!-- querycountup -->
	
		<script src="~/js/jquery.counterup.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="~/js/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="~/js/freelancer.min.js"></script>

</body>

</html>

