<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>EHC</title>
	<link rel="shortcut icon" href="~/img/log.png" type="image/png">

    <!-- Custom fonts for this theme -->
    <link href="~/fonts/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Theme CSS -->
    <link href="~/css/freelancer.css" rel="stylesheet">
<script>
$(document).ready(function () {
$('.navbar div a').click(function(event){
        //remove all pre-existing active classes
        $('.active').removeClass('active');

        //add the active class to the link we clicked
        $(this).addClass('active');
    });
});
</script>

</head>

<body id="page-top" class="">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="~/img/logo1.png" alt="EHC" width="90" height="35"></a>
            <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
				<li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#home"><span>Home</span></a>
                    </li>
					<li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about"><span>About</span></a>
                    </li>
					<li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio"><span>Services</span></a>
						
                    </li>
					<li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#projects"><span>Projects</span></a>
						
						
                    </li>
					
				
				
					
					<li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#clients"><span>Clients</span></a>
                    </li>
					<li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#partners"><span>Partners</span></a>
                    </li>
					<li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact"><span>Contact</span></a>
                    </li>
					<li class="nav-item mx-0 mx-lg-1">
                        <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#search"><img src="~/img/search.png" alt="Search" width="50" height="25"  ></a>
                    </li>
               
                   
					
                </ul>
            </div>
        </div>
    </nav>

   <div>
       @RenderBody()
   </div>

    <!-- Footer -->
    <footer class="footer text-center">
        <div class="container">
            <div class="row">

                <!-- Footer Location -->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">ITECH</h4>
                    <p class="lead mb-0">
                       ITECH Company for computer programs and networks honor to provide services and software solutions to government sectors and enterprises, institutions and services substantive and technical support as we provide our customers with financial systems ,Point Of Sales , systems of human resourc and ERP Systems
                        <br>
						<a class="btn btn-outline-light btn-social mx-1" href="#">
                        <i class="fab fa-fw fa-facebook-f"></i>
                    </a>
                    <a class="btn btn-outline-light btn-social mx-1" href="#">
                        <i class="fab fa-fw fa-twitter"></i>
                    </a>
                    <a class="btn btn-outline-light btn-social mx-1" href="#">
                        <i class="fab fa-fw fa-linkedin-in"></i>
                    </a>
                    <a class="btn btn-outline-light btn-social mx-1" href="#">
                        <i class="fab fa-fw fa-dribbble"></i>
                    </a>
						
                    </p>
                </div>

                <!-- Footer Social Icons -->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="text-uppercase mb-4">Our Services</h4>
					<a  href="#"> Software Program
                    </a>
                    <br>

We provides programming services that help you to build applications and sites keep pace with your successes!
<br>
<a  href="#">Maintenance and network surveillance cameras
                    </a>
                    <br>


We provide technical support for computer hardware and networking services through contracts
<br>
<a  href="#">Web Design
                    </a>
                    <br>


Websites for government sectors and private companies design service
<br>
                </div>

                <!-- Footer About Text -->
                <div class="col-lg-4">
                    <h4 class="text-uppercase mb-4">Contact Us</h4>
                    
					<table class="news" cellspacing="15" cellpadding="4">
				<tbody>
					<tr>
						<td style="width:50px;"><img class="img-responsive center-block"  src="img/location_icon_footer.png"></td>
						<td>Saudi Arabia, Riyadh, King Abdullah Road in exchange Hamra Mall </td>
					</tr>
					<tr>
						<td height="20"></td>
					</tr>
					<tr>
						<td style="width:28px;"><img class="img-responsive center-block"  src="img/phone_icon_foote.png"></td>
						<td class="footer">(+966)560471082/580857745</td>
					</tr>
					<tr>
						<td height="20"></td>
					</tr>
					<tr>
						<td style="width:28px;"><img class="img-responsive center-block"  src="img/email_icon_footer.png"></td>
						<td><a class="footer" href="mailto:info@itechksa.com">info@itech.com</a></td>
					</tr>
				</tbody>
			</table>
                </div>

            </div>
        </div>
    </footer>

    <!-- Copyright Section -->
    <section class="copyright py-4 text-center text-white">
        <div class="container">
            <small>Copyright &copy; 2020-2021</small>
        </div>
    </section>

    

   

   
  
   

    <!-- Bootstrap core JavaScript -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
	<!-- querycountup -->
	
		<script src="~/js/jquery.counterup.min.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="~/js/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="~/js/freelancer.min.js"></script>

</body>

</html>

